body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 95vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}
header{
  background-color: rgb(80, 71, 71);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 2em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  border-bottom-color: green;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
.header-info{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.header-info div a:visited{
  color: green;
}
.header-info div a:link{
  color: white;
}

section{
  background: linear-gradient(90deg,rgb(0, 123, 255),rgb(174, 10, 228));
  height: 83vh;
  margin-top: 8em;
}
.my-image{
  margin-top: 2em;
  width: 10em;
  border-radius: 100%;
}
p{
  line-height: 25px;
}

.works-touch{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

button{
  padding: 1em;
  border: 2px solid white;
  color: white;
  border-radius: 10em;
  background-color: transparent;
  font-size: 1em;
}
.my-works{
  color: rgb(0, 0, 255, .8);
  background-color: whitesmoke;
}
.section-2, .section-4{
  margin-top: -0.1em;
  padding-top: 5em ;
  color: rgb(68, 67, 67);
  background: whitesmoke;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-3{
  color: rgb(68, 67, 67);
  background: white;
  height: 130vh;
}
.skill-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}
.html-cont, .proj-cont{
  border-radius: 10px;
  width: 20em;
  height: 15em;
  box-shadow: 2px 2px 10px rgb(236, 234, 234);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.html-img{
  width: 3em;
  border-radius: 50%;
}
a{
  text-decoration: none;
}
.section-4 {
  height: 200vh;
}
.proj-cont{
  width: 22em;
  height: 25em;
  background: linear-gradient(90deg,rgb(0, 123, 255),rgb(174, 10, 228));
}
.div1{
  width: 22em;
  height: 12.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1 .html-img{
  width: 5em;
}
.div2{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20.7em;
  height: 12.6em;
  text-align: left;
  padding: 10px;
}

.div2 div button{
  background-color: rgb(228, 228, 228);
  padding: 10px 14px;
}

.section-5{
  background: white;
}

.div3{
  width: 22em;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin: auto;
}
.div3 div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.div3 div button{
  background: linear-gradient(90deg,rgb(0, 123, 255),rgb(174, 10, 228));
}
footer{
  margin-top: -3.7em;
  background-color: rgb(80, 71, 71);
  padding: 1px;
}

.works-touch .get-in-touch a{
  color: white;
}

