body{
  display: flex;
  margin: 0 0 38em 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 90vh;
  justify-content: center;
  /*align-items: center;*/
  background-color: whitesmoke;
}
.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow:hover {
  border-radius: 50%;
  background-color: rgb(128, 128, 128, 0.2);
}
.arrow::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: black;
  position: absolute;
  transform: rotate(-45deg);
  top: 10px;
}
.arrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
  top: 16px;
}
.examine{
  font-size: 2em;
  font-weight: bold;
  color: rgb(79, 69, 69);
}
.radio.show{
  display: none;
}

.opts div,
.subj-del {
  font-size: 14px;
  color: rgb(142, 140, 138);
  font-weight: lighter;
  font-family: sans-serif;
}
.opts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}
.to-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 5px;
  padding: 10px;
  border-radius: 5px;
}
.radio {
  background-color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.opts div{
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.radio:checked + .real-opts {
  color: white;
}
.checked{
  background-color: #cd19cd;
}
.check{
  background-color: #cd19cd;
}

a{
  text-decoration: none;
}