body{
  display: flex;
  margin: 0 0 38em 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 90vh;
  justify-content: center;
  /*align-items: center;*/
  background-color: whitesmoke;
}
.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow:hover {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.2);
}
.arrow::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: black;
  position: absolute;
  transform: rotate(-45deg);
  top: 10px;
}
.arrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
  top: 16px;
}
.examine{
  font-size: 1em;
  width: 2em;
  padding: 0;
}
.examine .eng{
  color: rgb(79, 69, 69);
  border: none;
  margin-top: -10px;
}
.radio.show{
  display: none;
}

.opts div,
.subj-del {
  font-size: 14px;
  color: rgb(142, 140, 138);
  font-weight: lighter;
  font-family: sans-serif;
}
.opts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}
.to-check {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 5px;
  padding: 10px;
  border-radius: 5px;
}
.radio {
  background-color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.opts div{
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.radio:checked + .real-opts {
  color: white;
}
.checked{
  background-color: #cd19cd;
}
.check{
  background-color: #cd19cd;
}

a{
  text-decoration: none;
}

.js-calculator{
  cursor: pointer;
}

    .calculator-container-real{
      background-color: rgba(245, 245, 245, .5);
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 10000;
    }

    .calculator-container{
      background-color: rgba(0, 0, 0, .9);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      column-gap: 30px;
      row-gap: 20px;
      padding: 20px;
      border-radius: 10px;
      cursor: default;
    }

    .calculator-signs{
      background-color: rgb(194, 194, 194);
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 5px;
      column-gap: 10px;
      border-radius: 10px;
    }
    .all-signs{
      padding: 15px 25px;
      border: none;
      font-size: 16px;
      border-radius: 5px;
      background-color: rgb(200, 200, 200);
      cursor: pointer;
      box-shadow: 5px 5px 5px rgb(141, 141, 167);
      color: black;
    }
    .all-signs:hover{
      background-color: rgb(184, 184, 184);
    }
    .all-signs:active{
      background-color: rgb(163, 163, 163);
    }
    /* .calculator-signs div .del-button{
      padding: 10px 22px;
    }
    .calculator-signs div .signs-button{
      font-size: 30px;
      font-weight: bold;
      padding: 10px 27px;
    } */

    .calculator-input{
      background-color: rgb(200, 200, 200);
      padding: 20px;
      border-radius: 10px;
    }
    .calculator-input input{
      width: 16em;
      height: 2em;
      border: none;
      border-radius: 3px;
      box-shadow: 5px 5px 5px rgb(141, 141, 167, .5);
      font-size: 20px;
      padding: 10px;
    }

    .cancle{
      color: red;
      font-size: 25px;
      margin-top: -23em;
      background-color: rgba(128, 128, 128, .7);
      border-radius: 10px;
      padding: 4px 8px;
      cursor: pointer;
    }
       .cancle:hover{
        border-radius: 50%;
        background-color: rgba(128, 128, 128, .1);
        border: 1px solid rgb(111, 67, 67);
       }