  .container3{
    position: relative;
    margin-top: 20px;
  }
  .top-section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .select{
    font-size: 20px;
    color: rgb(79, 69, 69);
  }
  .button1{
    background-color: rgb(205, 25, 205);
    color: white;
    border: 1px solid rgb(205, 25, 205);
    border-radius: 4px;
    width: 60px;
    font-family:cursive;
    font-size: 2em;
  }
  .container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  .input1{
    width: 20px;
    height: 20px;
  }
  .condition{
    color:red;
    font-size: 14px;
    font-weight: lighter;
  }

  .proceed{
    background-color: rgb(205, 25, 205);
    border: 1px solid rgb(205, 25, 205);
    border-radius: 4px;
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    color: white;
    padding: 20px;
    cursor: pointer;
  }