.container3 {
  position: relative;
  margin-top: 10em;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(247, 246, 246);
  top: 0;
  padding: 10px;
  padding-top: 3rem;
  z-index: 20;
  width: 435px;
}
.top-section {
  display: flex;
  position: relative;
}

.menu1 {
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 20px;
}

.square {
  border: 2px solid rgb(90, 86, 86);
  width: 20px;
  height: 23px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.rect {
  border: 2px solid rgb(90, 86, 86);
  width: 10px;
  height: 5px;
  border-radius: 10px;
}
.points {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
  column-gap: 2px;
  row-gap: 2px;
}
.point {
  border: 1px solid rgb(90, 86, 86);
  border-radius: 50%;
  width: 1px;
  height: 1px;
}

.lines {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  align-items: flex-end;
}
.lines div:first-child,
.lines div:nth-child(3) {
  border: 1px solid rgb(90, 86, 86);
  width: 20px;
}
.lines div:last-child,
.lines div:nth-child(2) {
  border: 1px solid rgb(90, 86, 86);
  width: 10px;
}

.menu2 {
  position: fixed;
  background-color: rgb(244, 242, 242);
  top: 0;
  width: 435px;
  padding: 10px;
  padding-top: 4.8rem;
  z-index: 10;
  border-bottom: 1px solid rgb(212, 209, 209);
}
.menu2-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submit-div {
  background-color: rgb(205, 25, 205);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.eng {
  border-bottom: 3px solid rgb(205, 25, 205);
  color: rgb(205, 25, 205);
  font-weight: bold;
  padding: 10px;
  width: 135px;
  cursor: pointer;
}

.subject {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding: 20px;
}
.quest-cont {
  width: 24em;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.quest-num {
  font-weight: bold;
  color: rgb(93, 85, 85);
  margin-bottom: 10px;
}

.subj-del,
.solution {
  display: flex;
  justify-content: space-between;
}
.eng-small {
  font-size: 12px;
  font-family: sans-serif;
}
.delete-icon {
  cursor: pointer;
}
button,
.close {
  background-color: rgb(205, 25, 205);
  border: 1px solid rgb(205, 25, 205);
  cursor: pointer;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 30px;
}
.proceed.show {
  background-color: rgb(205, 25, 205);
}


